
#inner{
    width: 50%;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
    font-size: 24px;
    align-self: center;
    margin: auto;

}
#innerp{
    font-size: 24px;
    padding: 1px 5px 0 5px;
}
#txt{
    width: 100%;
}
.date{
    text-align: right;
    font-size: 14px;
    color: gray;
}
.textS{ 
    background-color: #E0E0E0;
    font-size: 18px;
    margin: 5px 0 5px 0;
    padding: 1px 5px 0 5px;
    
   
}
.textC{
    background-color: rgba(194, 195, 187, 0.87);
    font-size: 18px;
    margin: 5px 0 5px 0;
    padding: 1px 5px 0 5px;
}
#formHead{
    text-align: center;
}
#headings{
    font-size: 14px;   
}